<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <div th:replace="fragments/head :: head('Search')"></div>
</head>
<body>
    <nav th:replace="fragments/nav/main :: main('')"></nav>

    <main>
        <div class="flex-container">
            <div style="margin-top: 20px;"></div>

            <style type="text/css">
            @media(max-width:1080px) {
                .flex-container {
                    margin: 0;
                    padding-right: 0;
                }
            }
        </style>
            <div th:if="${entries == 0}" style="padding: 10px 0;">
                <h2>We could not find any match by phrase: <span style="color: red;" th:text="${text}"></span></h2>
            </div>

            <div th:if="${entries > 0}" style="padding: 10px 0;">
                <h2>Searching by phrase: <span style="color: red;" th:text="${text}"></span></h2>
            </div>

            <div class="flex-item" th:each="product: ${productDto}">
                <div style="display: flex; align-items: stretch;">
                    <div class="list-image">
                        <image th:src="@{'/img/item/' + ${product.productId} + '.png'}" style="height: auto; width: auto; max-width: 150px; max-height: 150px;"></image>
                    </div>
                </div>
                <div class="list-content" style="padding-top: 10px;">
                    <a th:href="@{'/product/view/{productId}'(productId=${product.productId})}">
                        <p style="font-size: 25px; font-weight: 600;" th:text="${product.name}"/>
                    </a>
                    <p th:text="${product.description}"/>
                    <p th:text="'Manufacturer: ' + ${product.manufacturer}"/>
                    <div style="display: flex;">
                        <div class="list-content" style="display: flex; flex-direction: column; flex-align: flex-end; align-items: flex-end;">
                            <p th:text="'Price ' + ${product.price} + '$'"/>
                            <input th:if="${product.quantity} > 0" class="orange-white-button" style="width: 200px;" type="button" value="Add to basket" th:onclick="'addProductToCart(\'' + ${product.productId} + '\');'">
                            <p th:if="${product.quantity} <= 0"style="color: red; font-weight: 700; text-transform: uppercase; font-size: 16px;">Out of stock</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top: 20px;"></div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>