<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <div th:replace="fragments/head :: head('View')"></div>
</head>
<body>
    <nav th:replace="fragments/nav/main :: main('home')"></nav>

    <main>
        <div style="display: flex; flex-flow: column nowrap; align-items: center;" th:each="item: ${product}">
            <p th:text="'Name: ' + ${item.name}"/>
            <p th:text="'Description: ' + ${item.description}"/>
            <p th:text="'Manufacturer: ' + ${item.manufacturer}"/>
            <p th:text="'Price: ' + ${item.price}"/>
        </div>
        <div style="padding-top: 20px;"></div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>