<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <div th:replace="fragments/head :: head('Accounts')"></div>
</head>
<body>
  <nav th:replace="fragments/nav/main :: main('/admin/accounts')"></nav>

  <main>
    <div class="container text-center" style="margin-top: 20px; overflow: auto; max-width: 1280px; max-height: 720px;">
      <div>
        <table class="table table-striped table-bordered">
          <thead class="table-dark">
          <tr>
            <th>id</th>
            <th>username</th>
            <th>Password</th>
            <th>e-mail</th>
            <th>role</th>
            <th>enabled</th>
            <th>locked</th>
          </tr>
          </thead>
          <tbody>
            <tr th:each="user: ${accountList}">
              <td th:text="${user.id}">User ID</td>
              <td th:text="${user.username}">Username</td>
              <td th:text="${user.password}">Password</td>
              <td th:text="${user.email}">E-mail</td>
              <td>
                <form th:action="@{/admin/change_role}" method="post">
                  <input name="username" th:value="${user.username}" style="display: none;"/>
                  <select name="role" th:value="${user.role}">
                    <option th:value="${user.role}" th:text="${user.role}"></option>
                    <option th:unless="${user.role == 'DEVELOPER'}" th:value="DEVELOPER">DEVELOPER</option>
                    <option th:unless="${user.role == 'ADMIN'}" th:value="ADMIN">ADMIN</option>
                    <option th:unless="${user.role == 'USER'}" th:value="USER">USER</option>
                  </select>
                  <input type="submit" value="save">
                </form>
              </td>
              <td th:text="${user.enabled}">Enabled</td>
              <td th:text="${user.locked}">Locked</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="padding-top: 20px;"></div>
  </main>

  <footer>
    <div th:replace="fragments/footer :: footer"/>
  </footer>
</body>
</html>