<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <div th:replace="fragments/head :: head('Addresses')"></div>
</head>
<body>
    <nav th:replace="fragments/nav/main :: main('/admin/addresses')"></nav>

    <main>
        <div class="container text-center" style="margin-top: 20px; overflow: auto; max-width: 1280px; max-height: 720px;">
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>id</th>
                            <th>user_id</th>
                            <th>name</th>
                            <th>last_name</th>
                            <th>address1</th>
                            <th>address2</th>
                            <th>city</th>
                            <th>postal_code</th>
                            <th>country</th>
                            <th>phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="address: ${addressList}">
                            <td th:text="${address.id}">id</td>
                            <td th:text="${address.userId}">user_id</td>
                            <td th:text="${address.name}">name</td>
                            <td th:text="${address.lastName}">last_name</td>
                            <td th:text="${address.address1}">address1</td>
                            <td th:text="${address.address2}">address2</td>
                            <td th:text="${address.city}">city</td>
                            <td th:text="${address.postalCode}">postal_code</td>
                            <td th:text="${address.country}">country</td>
                            <td th:text="${address.phone}">phone</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="padding-top: 20px;"></div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>