<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <div th:replace="fragments/head :: head('Products')"></div>
</head>
<body>
    <nav th:replace="fragments/nav/main :: main('/admin/products')"></nav>

    <main>
        <div class="container text-center" style="margin-top: 20px; overflow: auto; max-width: 1280px; max-height: 720px;">
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>description</th>
                            <th>photo</th>
                            <th>photo list</th>
                            <th>price</th>
                            <th>quantity</th>
                            <th>manufacturer</th>
                            <th>category</th>
                            <th>collection</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product: ${productList}">
                            <td th:text="${product.id}">id</td>
                            <td th:text="${product.name}">name</td>
                            <td th:text="${product.description}">description</td>
                            <td th:text="${product.photo}">photo</td>
                            <td th:text="${product.photoList}">photo list</td>
                            <td th:text="${product.price}">price</td>
                            <td th:text="${product.quantity}">quantity</td>
                            <td th:text="${product.manufacturer}">manufacturer</td>
                            <td th:text="${product.category}">category</td>
                            <td th:text="${product.collection}">collection</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="padding-top: 20px;"></div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>