<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('Order')"></div>
</head>
<body>
    <style type="text/css">
        @media(max-width:1080px) {
            #contentDirection {
                flex-direction: row;
            }
        }
        @media(max-width:1080px) {
            #sidePanelContent {
                width: 350px;
            }
        }

        @media(max-width:560px) {
            #contentDirection {
                flex-direction: column;
            }
        }
        @media(max-width:560px) {
            #sidePanelContent {
                width: 560px;
            }
        }
    </style>
    <nav th:replace="fragments/nav/main :: main('/order/finalize')"></nav>

    <main>
        <div class="flex-grid-column" style="padding-top: 10px; height: 100vh;">
            <div class="flex-grid-row" style="height: 700px; padding-bottom: 10px; align-items: flex-start;" id="contentDirection">
                <div class="flex-vertical" style="background-color: #e3e3e3;">
                    <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-content: center; align-items: flex-end; margin: 10px 20px; gap: 10px; background-color: inherit;">
                        <div style="order: 1; flex: 1 1 auto; font-size: 15px; font-color: #2c3238; border-bottom: 5px solid #999;">Your shopping cart</div>
                        <div style="order: 2; flex: 1 1 auto; font-size: 20px; color: chocolate; border-bottom: 5px solid chocolate; padding-top: 5px;">Delivery and payment</div>
                        <div style="order: 3; flex: 1 1 auto; font-size: 15px; font-color: #2c3238; border-bottom: 5px solid #999; padding-top: 5px;">All set up</div>
                    </div>

                    <div class="flex-vertical" style="width: 1000px; height: auto; padding: 20px; background-color: white; flex: 1 1 auto;">
                        <div th:class="${total == 0} ? null : hidden" id="cartEmpty" style="margin: 0; line-height: 30px; color: #666; text-align: center;">
                            <p>Your shopping cart is empty</p>
                            <p>Add items to shopping cart and buy them fast and convenient</p>
                        </div>
                        <div th:if="${total > 0}">
                            <div th:each="cart : ${cartDto}" class="flex-horizontal-border" th:id="'cartItem' + ${cart.getProductDto().productId}" style="width: 100%; height: 80px;">
                                <div class="cart-image" style="height: auto; width: 100px; background-color: inherit;">
                                    <image th:src="@{'/img/item/' + ${cart.getProductDto().photo}}" style="height: auto; width: auto; max-width: 100px; max-height: 78px;"></image>
                                </div>
                                <div class="cart-description" style="width: auto; max-width: 430px;">
                                    <div th:inline="text" style="font-size: 20px; font-weight: 500;">[[${cart.getProductDto().name}]]</div>
                                    <div th:inline="text">[[${cart.getProductDto().description}]]</div>
                                </div>
                                <div style="order: 2; flex: 1 1 auto; text-align: right; gap: 5px; display: flex; align-items: flex-end; justify-content: flex-end; text-align: right;">
                                    <b style="font-size: 30px; text-align: center; text-align: right;">[[${cart.getProductDto().price}]]€</b>
                                </div>
                                <div style="order: 3; flex: 0 1 auto; text-align: right; gap: 5px; width: 150px; display: flex; align-items: flex-end; justify-content: flex-end; padding-bottom: 5px; padding-right: 5px;">
                                    <b style="font-size: 20px; padding-top: 5px; text-align: center; width: 30px;" id="quantity">[[${cart.getQuantity()}]]</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-vertical" style="width: 1000px; height: auto; padding: 20px; background-color: white; flex: 1 1 auto;">
                    <div>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                        <span>asjkfje2jkek2d</span></br>
                    </div>
                </div>
            </div>

            <div class="flex-column" id="sidePanel">
                <div class="flex-vertical" id="sidePanelContent" style="width: 350px; padding: 20px; background-color: white;">
                    <div th:inline="text" style="text-align: right;"><span style="text-transform: uppercase;">Total price:</span> <b style="font-size: 25px;" id="total">123</b></div>
                    <div th:inline="text" style="text-align: right; margin-top: -5px;">+ delivery</div>
                    <!--                        <button type="submit" class="orange-white-button">Checkout</button>-->
                    <a th:href="@{/user/finalizeOrder}" class="orange-white-button">Checkout</a>
                    <a th:href="@{/}" class="text-success" style="text-transform: uppercase; text-decoration: none; text-align: center; margin-top: 5px;">CONTINUE SHOPPING</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>