<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <div th:replace="fragments/head :: head('Login')"></div>
</head>
<body>
    <nav th:replace="fragments/nav/main :: main('/user/login')"></nav>

    <main>
        <div class="flex-container">
            <div class="flex-container-element">
                <div style="margin: 100px 0;"></div>
                <div class="white-border">
                    <div style="text-align: center; flex-flow: column nowrap;" th:if="${param.error}">
                        <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    </div>
                    <div style="text-align: center; flex-flow: column nowrap;" th:if="${param.logout}">
                        <p class="text-success">You have been successfully logged out!</p>
                    </div>
                    <div style="text-align: center; flex-flow: column nowrap;" th:if="${param.success}">
                        <p class="text-success">Account has been successfully created!</p>
                    </div>
                    <form th:action="@{/user/login}" method="post" style="background-color: white; width: 90%; display: flex; flex-direction: column;">
                        <div style="text-align: center;">
                            <div style="font-size: 24px; font-weight: bold; letter-spacing: 1px; display: block; margin-bottom: 20px; text-transform: uppercase;">Login</div>
                            <div style="font-size: 11px; display: block;">Fill the forms in order to proceed to your account</div>
                        </div>

                        <div>
                            <input type="text" id="username" name="username" class="responsive-input-large" placeholder="Username" required autofocus autocomplete="off"/>
                            <label class="responsive-label-large">Username</label>
                        </div>

                        <div>
                            <input type="password" id="password" name="password" class="responsive-input-large" placeholder="Password"/>
                            <label class="responsive-label-large">Password</label>
                            <img id="passwordToggle" class="button_hide_password" style="width: 32px; height: 32px; position: absolute; cursor: pointer; margin-left: -40px; margin-top: 22px;" onclick="togglePasswordVisibility('password', 'passwordToggle')"/>
                        </div>

                        <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; align-content: flex-start; margin-bottom: 26px;">
                            <input type="checkbox" name="remember-me" style="margin-right: 3px;"/>Prevent from logging out
                        </div>

                        <div>
                            <button type="submit" class="blacked-white-button">Sign in</button>
                        </div>

                        <div style="font-size: 11px; margin-top: -5px; text-align: center;">
                            Don't have an account yet? <a th:href="@{/user/signup}" style="text-decoration: none; color: black; font-weight: bold;">Click here!</a>
                        </div>
                        <div class="space10px"></div>
                    </form>
                </div>
            </div>
        </div>
        <div style="padding-top: 20px;"></div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>