<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('Sign up')"></div>
</head>
<body>
    <nav th:replace="fragments/nav/main :: main('/user/signup')"></nav>

    <main>
        <div class="popup-background" id="popup-background">
            <div class="popup" id="popup">
                <div class="flex-column" style="text-align: center; align-items: center;">
                    <h3 id="popup-title">Response</h3>
                    <div class="separator"></div>
                    <p id="popup-message">Here is a sample response which returns some data if specified</p>
                    <button class="blacked-white-button" onclick="closePopup('popup-background')" style="width: auto;">Close</button>
                </div>
            </div>
        </div>

        <div class="flex-container" style="margin-top: 20px;">
            <div class="flex-container-element">
                <div class="white-border">
                    <div id="signup-form" style="background-color: white; width: 100%; display: flex; flex-direction: column;">
                        <div style="text-align: center;">
                            <div style="font-size: 24px; font-weight: bold; letter-spacing: 1px; display: block; margin-bottom: 20px; text-transform: uppercase;">Sign up</div>
                            <div style="font-size: 11px; display: block;">Fill the forms below</div>
                        </div>
                        <div>
                            <input type="text" id="username" class="responsive-input" placeholder="Username" required autofocus autocomplete="off">
                            <label class="responsive-label">Username</label>
                        </div>
                        <div>
                            <input type="password" id="password" class="responsive-input" placeholder="Password">
                            <label class="responsive-label">Password</label>
                            <img id="passwordToggle" class="button_hide_password" style="position: absolute; cursor: pointer; margin-left: -30px; margin-top: 17px;" onclick="togglePasswordVisibility('password', 'passwordToggle')"/>
                        </div>
                        <div>
                            <input type="password" id="passwordConfirm" class="responsive-input" placeholder="Repeat password">
                            <label class="responsive-label">Repeat password</label>
                            <img id="passwordConfirmToggle" class="button_hide_password" style="position: absolute; cursor: pointer; margin-left: -30px; margin-top: 17px;" onclick="togglePasswordVisibility('passwordConfirm', 'passwordConfirmToggle')"/>
                        </div>
                        <div>
                            <input type="text" id="email" class="responsive-input" placeholder="Email" required autocomplete="off">
                            <label class="responsive-label">Email</label>
                        </div>

                        <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; align-content: flex-start; margin-bottom: 16px;">
                            <input type="checkbox" id="TOS" class="checkbox16" required/>Accept the<a th:href="@{/tos}" style="margin-left: 3px; color: red; font-weight: bold; text-decoration: none;">Terms of service</a>
                        </div>
                        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20;">
                            <button type="button" class="blacked-white-button" onclick="signUp()">Sign up</button>
                        </div>
                        <div style="font-size: 11px; margin-top: -5px; text-align: center;">
                            Already have an account? <a th:href="@{/user/login}" style="text-decoration: none; color: black; font-weight: bold;">Click here!</a>
                        </div>
                        <div class="space10px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top: 20px;"></div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>