<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="footer" style="padding: 0 5%;">
        <div class="footer-left">
            <span style="font-weight: 500;">ST<font color="#F08000">OO</font>R</span>
        </div>
        <h3 class="footer-right">
            Copyright © 2022 <b>Dominik Wojewódka</b>
        </h3>
    </div>
</div>
