<div th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <!-- local css -->
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- DEFAULT NON-RESPONSIBLE -->
    <link rel="stylesheet" th:href="@{/css/button.css}"> <!-- DEFAULT NON-RESPONSIBLE -->
    <link rel="stylesheet" th:href="@{/css/UIUX.css}"> <!-- DEFAULT NON-RESPONSIBLE -->
<!--    <link rel="stylesheet" media="screen and (max-width:576px)" th:href="@{/css/small.css}"> &lt;!&ndash; MOBILE &ndash;&gt;-->
<!--    <link rel="stylesheet" media="screen and (min-width:577px)" th:href="@{/css/medium.css}"> &lt;!&ndash; TABLET/LOW_RESOLUTION &ndash;&gt;-->
<!--    <link rel="stylesheet" media="screen and (min-width:992px)" th:href="@{/css/large.css}"> &lt;!&ndash; DESKTOP &ndash;&gt;-->
    <script th:src="@{/js/api.js}"></script>
    <script th:src="@{/js/UIUX.js}"></script>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</div>