<div th:fragment="result" xmlns:th="http://www.thymeLeaf.org">
<!--    <div class="item-grid">-->
    <div class="flex-container">
        <div th:replace="fragments/nav/categories :: categories"></div>

        <div style="margin-top: 30px;">
            <h2 style="text-align: center; text-transform: uppercase;" th:text="${category}"></h2>
        </div>

        <div style="margin-top: 24px;"></div>

        <style type="text/css">
            @media(max-width:1080px) {
                .flex-container {
                    margin: 0;
                    padding-right: 0;
                }
                .list-content {
                    width: 800px;
                }
            }
        </style>
        <div class="item-grid">
            <div class="item-cell" th:each="product: ${productDto}">
                <div class="item-image">
                    <image th:src="@{'/img/item/' + ${product.photo}}"/>
                </div>
                <div class="item-body">
                    <div class="item-row" style="flex-flow: row nowrap; order: 1; flex: 0 1 auto;">
                        <a class="item-name" style="order: 1; flex: 1 1 auto; text-decoration: none; font-weight: bold; color: black; font-size: 15px;" th:href="@{'/product/view/{id}'(id=${product.productId})}">
                            <span th:text="${product.name}"/>
                        </a>
                        <div class="item-price" style="order: 2; flex: 0 1 auto;">
                            <span style="font-size: 18px;" th:text="${product.price} + '$'"/>
                        </div>
                    </div>

<!--                    <div class="item-description" style="order: 2; flex: 1 1 auto;">-->
<!--                        <span th:text="${product.description}"/>-->
<!--                    </div>-->

                    <div class="item-row" style="order: 2; flex: 1 1 auto;">
<!--                        <button class="item-button" type="button" th:onclick="'addProductToCart(\'' + ${product.productId} + '\');'">Buy now</button>-->
                        <button th:if="${product.quantity} > 0"  class="item-button" type="button" th:onclick="'addProductToCart(\'' + ${product.productId} + '\');'">Add to basket</button>
                        <p th:if="${product.quantity} <= 0" style="color: red; font-weight: 700; text-transform: uppercase; font-size: 16px;">Out of stock</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--        <div class="flex-item" th:each="product: ${productDto}">
            <div style="display: flex; align-items: stretch;">
                <div class="list-image">
                    <image th:src="@{'/img/item/' + ${product.photo}}" style="height: auto; width: auto; max-width: 150px; max-height: 150px;"></image>
                </div>
            </div>
            <div class="list-content" style="padding-top: 10px;">
                <a th:href="@{'/product/view/{id}'(id=${product.productId})}">
                    <p style="font-size: 25px; font-weight: 600;" th:text="${product.name}"/>
                </a>
                <p th:text="${product.description}"/>
                <p th:text="'Manufacturer: ' + ${product.manufacturer}"/>
                <div style="display: flex;">
                    <div class="list-content" style="display: flex; flex-direction: column; flex-align: flex-end; align-items: flex-end;">
                        <p th:text="'Price ' + ${product.price} + '$'"/>
                        <input th:if="${product.quantity} > 0" class="orange-white-button" style="width: 200px;" type="button" value="Add to basket" th:onclick="'addProductToCart(\'' + ${product.productId} + '\');'">
                        <p th:if="${product.quantity} <= 0"style="color: red; font-weight: 700; text-transform: uppercase; font-size: 16px;">Out of stock</p>
                    </div>
                </div>
            </div>
        </div>-->