:root {
    /*
    --hover: invert(78%) sepia(25%) saturate(6812%) hue-rotate(360deg) brightness(103%) contrast(104%);
    --hover_animation: filter 0.25s ease-in-out;
    */
    --hover_color: rgba(193, 193, 193, 0.3);
    --hover_border: 5px;
    --hover_animation: background-color 0.2s ease-in-out;
}

.button_add:hover,
.button_remove:hover,
.button_search:hover,
.button_clear:hover,
.button_user:hover,
.button_cart:hover,
.button_show_password:hover,
.button_hide_password:hover,
.button_arrow_down:hover,
.button_arrow_up:hover
{
  background-color: var(--hover_color);
  border-radius: var(--hover_border);
  transition: var(--hover_animation);
}

.button_add {
  padding: 4px;
  content: url("../button/add.svg");
}

.button_remove {
  padding: 4px;
  content: url("../button/remove.svg");
}

.button_search {
  padding: 4px;
  content: url("../button/search.svg");
}

.button_clear {
  padding: 4px;
  content: url("../button/clear.svg");
}

.button_user {
  padding: 4px;
  content: url("../button/user.svg");
}

.button_cart {
  padding: 4px 5px;
  content: url("../button/cart.svg");
}

.button_show_password {
  padding: 4px;
  content: url("../button/eye.svg");
}
.button_hide_password {
  padding: 4px;
  content: url("../button/eye-slash.svg");
}

.button_arrow_down {
  padding: 4px;
  content: url("../button/arrow_down.svg");
}
.button_arrow_up {
  padding: 4px;
  content: url("../button/arrow_up.svg");
}