* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body {
    top: 0;
    left: 0;
    background-color: #222;
    color: whitesmoke;
    font-family: Candara;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    overflow-x: hidden;
}

.center {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    margin-right: 16px;
}

.page {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
}

.sidebar {
    right: 0;
    top: 0;
    display: flex;
    width: 25%;
    height: 100%;
    background-color: #1c1c1c;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 40px;
    position: fixed;
}

.sidebar-item {
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
}

.sidebar-item:hover {
    color: darkorange;
}

.active {
    color: darkorange;
    font-weight: bold;
}

.sidebar-tooltip {
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.photo {
    width: 260px;
    height: 260px;
    content: url("../images/portfolio/photo.png");
    border-radius: 130px;
}

.next {
    margin-top: 100px;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.next:hover {
    color: darkorange;
}

.updown {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}

.leftright {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.title {
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid #d3d3d3;
    padding: 0 20px;
}

.enumeration {
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    flex-direction: column;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 25px;
}

.link:hover {
    color: #ffae00;
}