* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Tahoma', sans-serif;
    font-size: 12px;
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.visible {}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.flx-inline {
    display: flex;
    flex-flow: row nowrap;
}

.flex-row {
    background-color: inherit;
    display: flex;
    flex-flow: row nowrap;
}
.flex-col {
    background-color: inherit;
    display: flex;
    flex-flow: column nowrap;
}

.flx-1 {
    order: 1;
    flex: 0 1 auto;
}
.flx-2 {
    order: 2;
    flex: 0 1 auto;
}
.flx-3 {
    order: 3;
    flex: 0 1 auto;
}
.flx-1.fill, .flx-2.fill, .flx-3.fill {
    flex: 1 1 auto !important;
}

.visible {
    visibility: visible !important;
}
.hidden {
    visibility: hidden !important;
    display: none !important;
}

.layer {
    z-index: 1;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0,0,0,0.0);
    transition: background-color 0.5s ease-in-out;
}

.layer:hover {
    background-color: rgba(0,0,0,0.66);
}

.popup-window {
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    background-color: white;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    pointer-events: auto;
}





.notify {
    min-height: 24px;
    height: auto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0px 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 8px;
    z-index: 1;
    text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.flex-navigation {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}

.flex-navigation-segments {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 80px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 100px;
    padding: 0 10px;
    text-decoration: none;
    background-color: inherit;
    border-bottom: 1px solid #d2d2d2;
}

.flex-navigation-segments * {
    background-color: inherit;
}

.flex-navigation-segments a {
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}

.flex-navigation-segments a:hover {
    color: #F08000 !important;
}

.flex-navigation-left {
    order: 1;
    flex: 0 1 auto;
    text-align: left;
    background-color: inherit;
    padding-bottom: 5px;
}

.flex-navigation-right {
    order: 2;
    flex: 1 1 auto;
    justify-content: space-evenly;
    text-align: right;
    min-width: 200px;
    background-color: inherit;
}

.flex-ordered {
    flex: 0 1 auto;
    text-align: left;
    background-color: inherit;
}

.flex-ordered-fill {
    flex: 1 1 auto;
}

.o1 {
    order: 1;
}

.o2 {
    order: 2;
}

.o3 {
    order: 3;
}

.flex-navigation-right a {
    padding-left: 20px;
}

.flex-navigation-right input+input {
    padding-left: 10px;
}

.flex-admin-navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: inherit;
    border-bottom: 1px solid #e4e7eb;
}

.flex-admin-navigation a {
    text-decoration: none;
    color: #333;
    padding: 0px 10px;
}

.flex-admin-navigation a:hover {
    color: #F08000 !important;
}

.active {
    color: #F08000 !important;
}

.cart-menu {
    top: auto;
    right: 0;
    margin-right: 20px;
    border: 1px solid #e3e3e3;
    background-color: white;
    width: 400px;
    min-height: 150px;
    height: auto;
    max-height: 450px;
    position: absolute;
    margin: 0;
    transition: border-color 0.2s ease-in-out;
    border-radius: 3px;
}

.cart-menu:hover {
  border: 1px solid #999;
}

.userpanel-menu {
    top: auto;
    right: 0;
    margin: 0px 20px;
    border: 1px solid #e3e3e3;
    background-color: white;
    width: 280px;
    height: auto;
    overflow: hidden;
    position: absolute;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    transition: border-color 0.2s ease-in-out;
    border-radius: 3px;
}

.userpanel-menu:hover {
  border: 1px solid #999;
}

.txt-container {
  text-align: left;
  overflow: auto;
  white-space: pre;
}

.white-border {
  min-width: 400px;
  width: auto;
  max-width: 700px;
  min-height: auto;
  border-radius: 0;
  border: 1px solid #e3e3e3;
  padding: 10px 10px 0 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: border 0.2s ease-in-out;
}

.white-border:hover {
  border: 1px solid #999;
}

.flex-grid-column, .flex-grid-row {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 5px;
  gap: 5px;
  background-color: #e3e3e3;
}

.flex-grid-column {
  flex-flow: column nowrap;
}

.flex-grid-row {
  flex-flow: row nowrap;
}

.flex-vertical, .flex-vertical-border {
  display: flex;
  flex-direction: column;
}

.flex-vertical-border {
  border: 1px solid #e3e3e3;
}

.flex-vertical-border:hover {
  border: 1px solid #999;
}

.flex-horizontal, .flex-horizontal-border {
  display: flex;
  flex-direction: row;
}

.flex-horizontal-border {
  border: 1px solid #e3e3e3;
}

flex-horizontal-border:hover {
  border: 1px solid #999;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: inherit;
}

.flex-container-element {
  flex-flow: column nowrap;
  place-content: center;
  align-items: center;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  min-width: 330px;
  height: auto;
  min-height: 120px;
  max-height: 220px;
  background-color: white;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
}

.flex-item:hover {
	background-color: #ddd;
	color: black;
	cursor: pointer;
}

.list-image {
    display: flex;
    width: 150px;
    height: 100%;
    background-color: inherit;
}

.list-content {
    width: 1200px;
    color: black;
    margin: 5px;
    display: inline;
    line-height: 0.5;
    font-weight: 300;
}


.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 40px;
  height: auto;
  background-color: white;
  bottom: 0;
  border-top: 1px solid #f2f2f2;
}

.footer-left {
  order: 1;
  flex: 0 1 auto;
  align-self: flex-end;
  margin-left: 5px;
  font-size: 22px;
  font-weight: 800;
  color: #666;
}

.footer-right {
  order: 2;
  flex: 1 1 auto;
  margin-right: 5px;
  align-self: flex-end;
  color: #666;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  width: 70%;
}

.flex-category-navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    width: 100%;
    border-top: 1px solid #e4e7eb;
    border-bottom: 1px solid #e4e7eb;
    background-color: #f2f2f2;
}

.flex-category-navigation a {
    text-decoration: none;
    color: #2c3238;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 200;
    padding: 8px 8px;
}

.flex-category-navigation li {
    list-style-type: none;
}

.flex-category-navigation a:hover {
    color: #F08000;
}

.flex-category-filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    border-top: 1px solid #e4e7eb;
    border-bottom: 1px solid #e4e7eb;
    background-color: #f2f2f2;
}

.flex-category-filter-option {
    width: auto;
 }






.borderless-input {
  background-color: inherit;
  border-color: #ddd;
  border-left-width: 0;
  border-left-style: none;
  border-right-width: 0;
  border-right-style: none;
  border-top-width: 0;
  border-top-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  border-width: 1px;
  margin-bottom: -2px;
  padding: 10px 12px;
  color: inherit;
  height: auto;
  width: 100%;
  stroke: #404040;
  font-weight: 600;
  letter-spacing: 0px;
}

.borderless-input-small {
  background-color: inherit;
  border-color: #ddd;
  border-style: none none solid none;
  border-radius: 0;
  border-width: 2px;
  margin-bottom: -2px;
  padding: 3px 6px;
  color: inherit;
  height: auto;
  width: 100%;
  stroke: #404040;
  font-weight: 600;
  letter-spacing: 0px;
}

.input-new {
    background-color: white;
    border-color: rgb(170,170,170);
    border-radius: 2px;
    border-style: solid;
    padding: 8px;
    height: 40px;
    margin: 0;
    border-width: 1px;
    transition-delay: 0s, 0s;
    transition-duration: 0.2s, 0.2s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
}

.checkbx {
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

.black-button-submit {
  color: #fff;
  background-color: #F08000;
  border-width: 0;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 3px;
  cursor: pointer;
  border: 0 none transparent;
  margin: 0;
  text-align: center;
  padding: 10px 30px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
}

.blacked-button-submit-small {
  color: #fff;
  background-color: #F08000;
  cursor: pointer;
  text-align: center;
  padding: 5px 5px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 2px;
  border: 0 none transparent;
}

.hyperlink-button {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #031E37;
  border: 1px solid #F08000;
  padding: 5px 15px;
  border-radius: 3px;
}

.hyperlink-button:hover {
  color: #F08000;
  cursor: pointer;
  transition: color 0.2s ease 0s;
}

/* black button with white text */
.blacked-white-button, .blacked-white-button-small, .orange-white-button, .orange-white-button-small {
    margin: 10px 0;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 12px !important;
    text-align: center;
    letter-spacing: .2em;
    font-weight: 300;
    background-color: #333;
    color: white;
    width: 100%;
    max-width: 400px;
    border: 0;
    text-decoration: none;
    border-radius: 3px;
}

.blacked-white-button-small {
    margin: 5px 0;
    padding: 8px 16px;
    font-size: 11px !important;
    border-radius: 2px;
}

.blacked-white-button:hover, .blacked-white-button-small:hover {
    color: #ffae00;;
}

.orange-white-button {
    background-color: #F08000;
}
.orange-white-button-small {
    margin: 5px 0;
    padding: 6px 12px;
    font-size: 11px !important;
    background-color: #F08000;
    border-radius: 2px;
}

/* href button */
.href-button {
    margin: 10px 0;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: .2em;
    font-weight: 300;
    background-color: #333;
    color: white;
    width: 100%;
    max-width: 400px;
    border: 0;
    text-decoration: none;
    border-radius: 3px;
}

/* input which put label at border when started typing*/
.responsive-input, .responsive-input-small, .responsive-input-large {
    margin: 10px 0;
    padding: 12px 14px;
    font-size: 12px;
    height: 38px;
    letter-spacing: 0.1em;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    transition: border-color 0.2s ease-in-out;
    color: black;
    width: 100%;
    max-width: 400px;
    outline: none;
}

.responsive-input-small {
    margin: 5px 0;
    padding: 10px 12px;
    font-size: 10px;
    height: 32px;
}

.responsive-input-large {
    margin-top: 15px;
    padding: 14px 16px;
    font-size: 13px;
    height: 46px;
}

.responsive-input:focus, .responsive-input-small:focus, responsive-input-large:focus {
    outline: none;
    border-color: rgb(133, 133, 133);
    border-bottom: 2px solid rgb(133, 133, 133);
}

.responsive-label, .responsive-label-small, .responsive-label-large {
    position: absolute;
    display: block;
    color: black;
    font-size: 12px;
    letter-spacing: 0.1em !important;
    text-align: right !important;
    margin-left: 11px;
    pointer-events: none;
    transition: all 0.2s;
    transform: translateY(-56px);
    background-color: white;
    padding: 0 4px;
}

.responsive-label-small {
    font-size: 10px;
    margin-left: 9px;
    line-height: 12px;
    transform: translateY(-44px);
}

.responsive-label-large {
    font-size: 13px;
    margin-left: 13px;
    line-height: 15px;
    transform: translateY(-64px);
}

.responsive-input:placeholder-shown + .responsive-label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-37px);
    transform: translateY(-37px);
}

.responsive-input-small:placeholder-shown + .responsive-label-small {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
}

.responsive-input-large:placeholder-shown + .responsive-label-large {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-43px);
    transform: translateY(-43px);
}

.password-preview-small {
    position: fixed;
    cursor: pointer;
    margin-left: -24px;
    margin-top: 13px;
}

.password-preview {
    position: fixed;
    cursor: pointer;
    margin-left: -28px;
    margin-top: 21px;
}

.password-preview-large {
    position: fixed;
    cursor: pointer;
    margin-left: -32px;
    margin-top: 24px;
}

.password-view {
  content: url("../button/eye.svg");
}
.password-hide {
  content: url("../button/eye-slash.svg");
}

.space10px {
    margin: 5px 0;
}

.space20px {
    margin: 10px 0;
}

.popup-background {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    z-index: 999;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: background-color 0.5s ease-in-out;
}

.popup-background:hover {
    background-color: rgba(0,0,0,0.66);
}

.popup {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    z-index: 1000;
    padding: 10px 30px;
    inline-size: 100px;
    width: 500px;
    min-height: auto;
    max-height: 400px;
    flex-flow: row nowrap;
}

.checkbox16 {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    outline-offset: -2px;
}

.separator {
    border: 1px solid #d3d3d3;
    width: 100%;
    margin: 10px 0;
}

.error:not(input[type=checkbox]) {
    border: 1px solid #FF5F5F;
}

input[type=checkbox].error {
    outline: 1px solid #FF5F5F;
}





.item-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 80%
}

.item-cell {
    display: flex;
    flex-flow: column nowrap;
    width: 330px;
    height: auto;
    max-height: 500px;
    background-color: inherit;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
}

.item-cell:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
}

.item-cell:hover .item-image img {
    width: 100%;
    height: 100%;
}

.item-body {
    display: flex;
    order: 1;
    flex: 1 1 auto;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
}

.item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 330px;
    height: 330px;
}

.item-image img {
    width: 320px;
    height: 320px;
    transition-property: width, height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}


.item-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 4px 20px;
}

.item-description {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-size: 13px;
}

.item-button {
    padding: 4px 20px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #ffae00;
    border-radius: 5px;
    color: #ffae00;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.item-button:hover {
    border-color: black;
    color: black;
    background-color: #e3e3e3;
}

