.search_bar {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
    font-size: 15px !important;
    padding: 3px 62px 3px 5px !important;
    margin: 0;
    height: 32px;
    width: auto;
    transition: box-shadow 0.2s ease-in-out;
}

.search_bar:hover {
    outline: none;
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.2);
}

.search_bar:focus {
    outline: none;
    border-color: rgb(133, 133, 133);
    border-bottom: 2px solid rgb(133, 133, 133);
    padding-bottom: 4px !important;
}

.responsive_input, .responsive_input_password {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    margin: 0;
    height: 32px;
    width: auto;
    transition: box-shadow 0.2s ease-in-out;
}

.responsive_input_password {
    padding: 5px 35px 5px 5px;
}

.responsive_input:hover, .responsive_input_password:hover {
    outline: none;
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.2);
}

.responsive_input:focus, .responsive_input_password:focus {
    outline: none;
    border-color: rgb(133, 133, 133);
    border-bottom: 2px solid rgb(133, 133, 133);
    padding-bottom: 4px;
}

.responsive_label {
    left: 0;
    color: black;
    font-size: 12px;
    pointer-events: none;
    transition: all 0.2s;
    transform: translateY(0px);
}

.responsive_input:placeholder-shown + .responsive_label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}



.responsive_button,
.responsive_button_large {
    padding: 5px 10px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.responsive_button_large {
    padding: 6px 12px;
    font-size: 14px;
}

.responsive_button:hover,
.responsive_button_large:hover {
    outline: none;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
}