<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home page</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/top.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/button.css}">-->
<!--    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>-->
<!--        <style>-->
<!--            .preview {-->
<!--                position: absolute;-->
<!--                width: 100%;-->
<!--                height: 100%;-->
<!--                margin: 0;-->
<!--                padding: 0;-->
<!--                display: flex;-->
<!--                flex-flow: row nowrap;-->
<!--                align-items: flex-start;-->
<!--                overflow: hidden;-->
<!--            }-->
<!--            .preview-left {-->
<!--                transform: translate(-50%,0);-->
<!--                position: absolute;-->
<!--                display: flex;-->
<!--                height: 100%;-->
<!--                width: 100%;-->
<!--                z-index: 999;-->
<!--                transition: transform 0.5s ease-in-out;-->
<!--                cursor: grab;-->
<!--            }-->
<!--            .preview-left:hover {-->
<!--                width: 100%;-->
<!--                transform: translate(-30%,0);-->
<!--            }-->

<!--            .preview-right {-->
<!--                transform: translate(50%,0);-->
<!--                position: absolute;-->
<!--                display: flex;-->
<!--                height: 100%;-->
<!--                width: 100%;-->
<!--                z-index: 999;-->
<!--                transition: transform 0.5s ease-in-out;-->
<!--                cursor: grab;-->
<!--            }-->
<!--            .preview-right:hover {-->
<!--                width: 100%;-->
<!--                transform: translate(30%,0);-->
<!--            }-->
<!--        </style>-->
<!--        <script>-->
<!--            function left() {-->
<!--                window.location.href = "home";-->
<!--            }-->

<!--            function right() {-->
<!--                window.location.href = "portfolio";-->
<!--            }-->
<!--        </script>-->
<!--</head>-->

<!--<body>-->
<!--    <div class="preview">-->
<!--        <div class="preview-left" onclick="left()">-->
<!--            <div id="left" style="width: 100%; height: 100%; display: flex;"></div>-->
<!--            <script>$("#left").load("http://localhost/home").attr("disabled", true)</script>-->
<!--        </div>-->
<!--        <div class="preview-right" onclick="right()">-->
<!--            <div id="right" style="width: 100%; height: 100%; display: flex;"></div>-->
<!--            <script>$("#right").load("http://localhost/portfolio").attr("disabled", true)</script>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/top.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
            }

            html {
                width: 100%;
                height: 100%;
            }

            body {
                font-family: Candara;
                font-weight: 300;
            }

            .center {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-content: center;
                align-items: center;
                justify-content: center;
            }

            .website {
                width: 50%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-content: center;
                align-items: center;
                justify-content: center;
                background-color: whitesmoke;
                color: #222;
                transition: background-color 0.5s ease-in-out;
                transition: width 0.5s ease-in-out;
            }

            .website:hover {
                background-color: #e1e1e1;
                width: 70%;
            }

            .portfolio {
                width: 50%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-content: center;
                align-items: center;
                justify-content: center;
                background-color: #222;
                color: whitesmoke;
                transition: background-color 0.5s ease-in-out;
                transition: width 0.5s ease-in-out;
            }

            .portfolio:hover {
                background-color: #262626;
                width: 70%;
            }

            .dark, .light {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 40px;
                letter-spacing: 5px;
                font-weight: 100;
            }

            .light:hover {
                color: #032dd3;
            }

            .dark:hover {
                color: darkorange;
            }

            a:visited {
                color: inherit;
            }
        </style>
</head>

<body>
<div class="center">
    <div class="website">
        <a th:href="@{/home}" class="light">proceed to website</a>
    </div>
    <div class="portfolio">
        <a th:href="@{/images/portfolio}" class="dark">proceed to portfolio</a>
    </div>
</div>
</body>
</html>
