<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" th:href="@{/css/portfolio.css}">
    <script th:src="@{/js/portfolio.js}"></script>
</head>
<body>
<div id="content" class="content">
    <div id="center" class="center">
        <section id="about" class="page">
            <div class="updown">
                <p class="title">
                    O mnie
                </p>
                <div class="leftright">
                    <span class="photo"></span>
                    <div style="width: 40%;">
                        <p style="font-size: 40px; letter-spacing: 2px; text-align: left; padding: 20px; text-transform: uppercase; margin-left: -22px;">Dominik Wojewódka</p>
                        <p style="width: 600px;">
                            Od ponad roku aktywnie doskonalę swoje umiejętności w
                            programowaniu w Javie. Obecnie rozwijam projekt sklepu
                            internetowego w Java 18 z wykorzystaniem technologii Spring razem
                            z bazą danych MySQL 8 / PostgreSQL, wszystko przy użyciu kontroli
                            wersji GIT. Uczę się stosować podejście TDD (Test Driven Development),
                            doskonalę swoje umiejętności także w HTML, CSS, JavaScript (JQuery).
                            Świetnie odnajduję się w zespole jak i również zależy
                            mi na ciągłym rozwoju moich umiejętności.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="skills" class="page">
            <div class="updown">
                <p class="title">
                    Umiejętności
                </p>
                <div class="leftright" style="font-size: 32px; text-transform: uppercase; text-align: center;">
                    <div style="width: 30%;">
                        <p>Języki programowania</p>
                        <div class="enumeration" style="text-align: right;">
                            <div>Java, Spring, Hibernate -</div>
                            <div>JavaScript, JQuery -</div>
                            <div>CSS -</div>
                            <div>HTML -</div>
                            <div>Python (skrypty) -</div>
                            <div>C# (studia) -</div>
                            <div>SQL -</div>
                            <div>Lua (styczność) -</div>
                        </div>
                    </div>
                    <div style="border-left: 1px solid #d3d3d3; border-right: 1px solid #d3d3d3; padding: 0 50px; height: max-content; width: 15%;">
                        <p>Języki</p>
                        <div class="enumeration">
                            <div>- angielski B2 -</div>
                            <div>- niemiecki A2 -</div>
                        </div>
                    </div>
                    <div style="width: 30%;">
                        <p>Programy / Środowiska</p>
                        <div class="enumeration" style="text-align: left;">
                            <div>- IntelliJ</div>
                            <div>- Visual Studio</div>
                            <div>- Postman</div>
                            <div>- Bazy danych - MySQL, PostgreSQL</div>
                            <div>- Wirtualne maszyny - Oracle VM VirtualBox</div>
                            <div>- FTP - WinSCP, FileZilla</div>
                            <div>- Linux</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects" class="page">
            <div class="updown">
                <p class="title">
                    Projekty
                </p>
                <a href="https://gitlab.com/d_wojewodka" class="link">Profil na GitLab</a>
                <a th:href="@{/home}" class="link">Sklep internetowy (w fazie rozwoju)</a>
            </div>
        </section>
        <section id="experience" class="page">
            <div class="updown" style="width: 60%;">
                <p class="title">
                    Doświadczenie zawodowe
                </p>
                <div class="updown" style="gap: 0;">
                    <div class="leftright" style="font-size: 25px; text-transform: uppercase; letter-spacing: 2px; justify-content: space-between; text-align: left;">
                        <p>MAGAZYNIER – OPERATOR WÓZKA</p>
                        <p style="text-align: right; text-transform: none;">od 2018</p>
                    </div>
                    <p style="width: 100%;">MOTO-PROFIL Sp. z o.o. ul. Niedźwiedziniec 10, 41-506 Chorzów</p>
                </div>
            </div>
        </section>
        <section id="education" class="page">
            <div class="updown" style="width: 60%;">
                <p class="title">
                    Wykształcenie
                </p>
                <div class="updown" style="gap: 0;">
                    <div class="leftright" style="font-size: 25px; text-transform: uppercase; letter-spacing: 2px; justify-content: space-between; text-align: left;">
                        <p>TECHNIK ŻYWIENIA I USŁUG GASTRONOMICZNYCH</p>
                        <p style="text-align: right;">2013 - 2017 </p>
                    </div>
                    <p style="width: 100%;">Zespół Szkół Gastronomiczno-Usługowych w Chorzowie</p>
                </div>

                <div class="updown" style="gap: 0;">
                    <div class="leftright" style="font-size: 25px; text-transform: uppercase; letter-spacing: 2px; justify-content: space-between; text-align: left;">
                        <p>STUDIA INFORMATYCZNE</p>
                        <p style="text-align: right; text-transform: none;">od 2022.03</p>
                    </div>
                    <p style="width: 100%;">Wyższa Szkoła Bankowa w Chorzowie</p>
                </div>

            </div>
        </section>
        <section id="contact" class="page">
            <div class="updown">
                <p class="title">
                    Kontakt
                </p>
                <div class="leftright" style="font-size: 20px; text-transform: uppercase; text-align: center;">
                    <div style="width: 15%;">
                        <p>Numer telefonu: </p>
                        <p style="font-size: 25px;">+48 721 869 859</p>
                    </div>
                    <div>
                        <p>Adres email: </p>
                        <p style="font-size: 25px;">Dominik.Wojewodka@outlook.com</p>
                    </div>
                    <div style="width: 15%;">
                        <p>Miejsce zamieszkania: </p>
                        <p style="font-size: 25px; text-transform: capitalize;">41-500, Chorzów</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="sidebar" class="sidebar">
        <div id="sidebar-about" class="sidebar-item active" onclick="scrollToSection('about')">O mnie</div>
        <div id="sidebar-skills" class="sidebar-item" onclick="scrollToSection('skills')">Umiejętności</div>
        <div id="sidebar-projects" class="sidebar-item" onclick="scrollToSection('projects')">Moje projekty</div>
        <div id="sidebar-experience" class="sidebar-item" onclick="scrollToSection('experience')">Doświadczenie zawodowe</div>
        <div id="sidebar-education" class="sidebar-item" onclick="scrollToSection('education')">Wykształcenie</div>
        <div id="sidebar-contact" class="sidebar-item" onclick="scrollToSection('contact')">Kontakt</div>
    </div>
</div>

<script type="text/javascript">
    const menu = document.querySelectorAll(".sidebar-item");
    const sections = document.querySelectorAll("section");

    function activeMenu() {
        let length = sections.length;
        while (--length && window.scrollY + 97 < sections[length].offsetTop) {}

        document.querySelector(".sidebar").style.height = window.innerHeight + "px";
        sections.forEach(sec => sec.style.height = window.innerHeight + "px");
        menu.forEach(item => item.classList.remove("active"));
        menu[length].classList.add("active");

    }

    activeMenu();
    window.addEventListener("scroll", function(e) { activeMenu(); } );
    window.addEventListener("wheel", function(e) { activeMenu(); } );
</script>
</body>
</html>