<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <div th:replace="fragments/head :: head('Edit')"></div>
</head>
<body>
    <main>
        <form th:action="@{/product/save}" method="post" th:object="${product}">
            <div style="display: flex; flex-flow: row nowrap; align-items: flex-start; justify-content: center;">
                <div style="flex-flow: column nowrap; text-align: right; padding: 5px;">
                    <p>id<p/>
                    <p>Name<p/>
                    <p>Description<p/>
                    <p>Manufacturer<p/>
                    <p>Category<p/>
                    <p>Collection<p/>
                    <p>Quantity<p/>
                    <p>Measure<p/>
                    <p>Price<p/>
                </div>

                <div style="display: flex; flex-flow: column nowrap;" th:each="item: ${product}">
                    <input style="padding-top: 12px;" type="text" id="id" th:value="${item.productId}" th:field="*{productId}" placeholder="product id" autofocus>
                    <input style="padding-top: 12px;" type="text" id="name" th:value="${item.name}" th:field="*{name}" placeholder="name" autofocus>
                    <input style="padding-top: 12px;" type="text" id="description" th:value="${item.description}" th:field="*{description}" placeholder="description">
                   <input style="padding-top: 12px;" type="text" id="manufacturer" th:value="${item.manufacturer}" th:field="*{manufacturer}" placeholder="manufacturer">
                    <input style="padding-top: 12px;" type="text" id="category" th:value="${item.category}" th:field="*{category}" placeholder="category">
                    <input style="padding-top: 12px;" type="text" id="collection" th:value="${item.collection}" th:field="*{collection}" placeholder="collection">
                    <input style="padding-top: 12px;" type="text" id="quantity" th:value="${item.quantity}" th:field="*{quantity}" placeholder="quantity">
                    <input style="padding-top: 12px;" type="text" id="measure" th:value="${item.measure}" th:field="*{measure}" placeholder="measure">
                    <input style="padding-top: 12px;" type="text" id="price" th:value="${item.price}" th:field="*{price}" placeholder="price">
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <input type="submit" value="Save"/>
            </div>
        </form>
        <div style="padding-top: 20px;"></div>
    </main>

    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</body>
</html>