 <div th:fragment="cartpanel" id="cartPanel" class="cart-menu hidden" xmlns:th="http://www.thymeleaf.org" style="margin-top: 5px;">
    <div class="flex-row" style="margin: 0px 5px;">
        <div class="shoppingcart-title" style="order: 1; flex: 0 1 auto; align-items: flex-end; justify-content: flex-end;">
            <p style="font-size: 20px; margin-top: 10px; margin-left: 10px;">Shopping cart</p>
        </div>
        <div th:class="${total > 0} ? null : hidden" class="cart-total" id="cartTotal" style="order: 2; flex: 1 1 auto; align-items: flex-end; text-align: right;">
            <p style="font-size: 16px; margin-top: 30px;">Total value: <b style="font-size: 20px;" id="totalPrice">[[${total}]] $</b></p>
        </div>
    </div>
    <div th:class="${total == 0} ? null : hidden" id="cartEmpty" style="margin: 0; line-height: 30px; color: #666; text-align: center;">
        <div style="width: 100%; height: 10px; background-color: #e3e3e3; margin-bottom: 15px;"></div>
        <p>Your shopping cart is empty</p>
        <p>Add items to shopping cart and buy them fast and convenient</p>
    </div>
    <div th:class="${total > 0} ? null : hidden" id="cartEntry" class="flex-column">
        <div style="width: 100%; height: 10px; background-color: #e3e3e3;"></div>
        <div id="scrollable" style="display: block; overflow: auto; min-height: auto; max-height: 280px;">
            <div th:each="cart : ${cartDto}" class="flex-row" th:id="'cartItem' + ${cart.getProductDto().productId}" style="width: 100%; height: 80px; border: 1px solid #e3e3e3;">
                <div class="cart-image" style="height: auto; width: 100px; background-color: inherit;">
                    <image th:src="@{'/img/item/' + ${cart.getProductDto().photo}}" style="height: auto; width: auto; max-width: 100px; max-height: 78px;"></image>
                </div>
                <div class="cart-description" style="width: 100%;">
                    <div th:inline="text" style="font-size: 14px;">[[${cart.getProductDto().name}]]</div>
                    <div th:inline="text" id="quantity">[[${cart.quantity}]] pcs</div>
                    <div th:inline="text">[[${cart.getProductDto().price}]]€</div>
                </div>
            </div>
        </div>
        <div style="width: 100%; height: 10px; background-color: #e3e3e3;"></div>
        <div style="margin: 0 5px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; align-content: center; gap: 20px;">
            <a th:href="@{/cart}" class="blacked-white-button-small" style="order: 1; flex: 1 1 auto; width: 100%">Show shopping cart</a>
            <a th:href="@{/order/finalize}" class="blacked-white-button-small" style="order: 2; flex: 0 1 auto; width: auto;">Finalize</a>
        </div>
    </div>
</div>