
<style type="text/css">
        @media(max-width:576px) {
            .flex-category-navigation {
                margin: 20px 0px;
            }
        }
</style>
<div th:fragment="categories" xmlns:th="http://www.thymeleaf.org" class="flex-category-navigation">
    <div class="dropdown">
        <a>Electronics&dtrif;</a>
        <div class="dropdown-content">
            <a th:href="@{/product/category?name=smartphone}">Smartphone</a>
            <a th:href="@{/product/category?name=smartwatch}">Smartwatch</a>
            <a th:href="@{/product/category?name=electronic}">Electronic</a>
            <a th:href="@{/product/category?name=resistor}">Resistor</a>
        </div>
    </div>

    <a th:href="@{/product/category?name=drink}">Drink</a>
    <a th:href="@{/product/category?name=service}">Service</a>
</div>