<div th:fragment="main(activeTab)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <div th:if="${notify != null}" class="notify">
        <span id="notify" th:text="${notify}"></span>
    </div>

    <div class="flex-navigation">
        <div class="flex-navigation-segments">
            <style type="text/css">
                @media(max-width:1080px) {
                    .flex-navigation-segments {
                        margin: 0;
                        padding: 0 10px;
                    }
                }

                @media(max-width:560px) {
                    #navigation-1 {
                        display: none;
                    }
                }
            </style>

            <div class="flex-ordered o1" id="navigation-1" style="padding-bottom: 5px;">
                <a th:href="@{/home}" style="color: #666"><b>ST<font color="#F08000">OO</font>R</b></a>
            </div>

            <div class="flex-ordered flex-ordered-fill o2" style="padding: 0 5px;">
                <form th:action="@{/product/search}" id="searchForm" class="flex-horizontal" style="align-items: center; justify-content: center;">
                    <input id="searchInput" type="text" name="text" th:value="${text != null ? text : ''}" class="search_bar flex-ordered o1 flex-ordered-fill" placeholder="What are you looking for?"
                           style="max-width: 600px; height: 32px; margin-right: 1px; font-size: 13px; padding: 0px 8px; color: #666" autocomplete="off"/>
                        <img id="searchClear" class="button_clear flex-ordered o3" onclick="clearSearchInput()" style="height: 28px; width: 28px; margin-left: -56px;"/>
                        <img id="searchFind" class="button_search flex-ordered o2" onclick="search()" style="height: 28px; width: 28px; margin-left: -32px;"/>
                </form>
            </div>

            <div class="flex-ordered o3" style="padding-top: 8px;">
                <input th:class="${activeTab == '/cart'} ? hidden : button_cart" type="image" onclick="smartController('cart-menu')" style="height: 32px; width: 32px;">
                    <span id="cartProductQuantity" th:class="${activeTab == '/cart' || entry == 0} ? hidden : visible" th:text="${entry}" onclick="smartController('cart-menu')" style="position: absolute; color: white; border: 2px solid #F08000; background-color: #F08000; border-radius: 10px; text-align: center; margin-left: -20px; margin-top: 16px; width: 20px; height: 20px; font-size: 12px; font-weight: bold; line-height: 15px;"></span>
                </input>

                <input th:class="${activeTab == '/user/login' || activeTab == '/user/signup'} ? hidden : button_user" style="height: 32px; width: 32px;" type="image" onclick="smartController('userpanel-menu')"/>

                <div th:if="${activeTab != '/cart'}">
                    <div th:replace="fragments/nav/cartPanel :: cartpanel"></div>
                </div>
                <div th:if="${activeTab != '/user/login' && activeTab != '/user/signup'}">
                    <div th:replace="fragments/nav/userPanel :: userpanel"></div>
                </div>
            </div>
        </div>

        <div class="flex-admin-navigation" sec:authorize="hasRole('ADMIN') || hasRole('DEVELOPER')">
            <a sec:authorize="hasRole('ADMIN') || hasRole('DEVELOPER')" th:class="${activeTab == '/admin/products'}? 'active' : null" th:href="@{/admin/products}">Products</a>
            <a sec:authorize="hasRole('ADMIN') || hasRole('DEVELOPER')" th:class="${activeTab == '/admin/accounts'}? 'active' : null" th:href="@{/admin/accounts}">Accounts</a>
            <a sec:authorize="hasRole('ADMIN') || hasRole('DEVELOPER')" th:class="${activeTab == '/admin/addresses'}? 'active' : null" th:href="@{/admin/addresses}">Addresses</a>
        </div>

        <div class="popup-background" id="popup-background">
            <div class="popup" id="popup">
                <div class="flex-column" style="text-align: center; align-items: center;">
                    <h3 id="popup-title">Response</h3>
                    <div class="separator"></div>
                    <p id="popup-message">Here is a sample response which returns some data if specified</p>
                    <button id="popup-button" class="blacked-white-button" onclick="closePopup('popup-background')" style="width: auto;">Close</button>
<!--                    <div class="flex-horizontal" style="align-items: center; justify-content: center; padding-top: 50px; gap: 100px;">-->
<!--                        <button id="popup-button-orange-left" class="orange-white-button hidden" onclick="closePopup('popup-background')" style="width: auto;">LEFT</button>-->
<!--                        <button id="popup-button-black-left" class="blacked-white-button hidden" onclick="closePopup('popup-background')" style="width: auto;">LEFT</button>-->
<!--                        <button id="popup-button-orange-center" class="orange-white-button hidden" onclick="closePopup('popup-background')" style="width: auto;">CENTER</button>-->
<!--                        <button id="popup-button-black-center" class="blacked-white-button hidden" onclick="closePopup('popup-background')" style="width: auto;">CENTER</button>-->
<!--                        <button id="popup-button-orange-right" class="orange-white-button hidden" onclick="closePopup('popup-background')" style="width: auto;">RIGHT</button>-->
<!--                        <button id="popup-button-black-right" class="blacked-white-button hidden" onclick="closePopup('popup-background')" style="width: auto;">RIGHT</button>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>