<div th:fragment="userpanel" id="userPanel" class="userpanel-menu hidden" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" style="margin-top: 5px;">
    <div class="flex-column">
        <form sec:authorize="!isAuthenticated()" th:action="@{/user/login}" method="post">
            <div style="text-align: center;">
                <div style="font-size: 24px; font-weight: bold; letter-spacing: 1px; display: block; margin-bottom: 20px; text-transform: uppercase;">Login</div>
                <div style="font-size: 11px; display: block;">Fill with <b>username</b> and <b>password</b> credentials</div>
            </div>

            <div>
                <input type="text" id="username" name="username" class="responsive-input-small" placeholder="Username" required autofocus autocomplete="off"/>
                <label class="responsive-label-small">Username</label>
            </div>

            <div>
                <input type="password" id="password" name="password" class="responsive-input-small" placeholder="Password"/>
                <label class="responsive-label-small">Password</label>
                <img id="passwordToggle" class="button_hide_password" style="position: absolute; cursor: pointer; margin-left: -28px; margin-top: 9px;" onclick="togglePasswordVisibility('password', 'passwordToggle')"/>
            </div>

            <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; align-content: flex-start; margin-bottom: 16px; font-size: 13px;">
                <input type="checkbox" name="remember-me" style="margin-right: 3px;"/>Prevent from logging out
            </div>

            <div>
                <button type="submit" class="blacked-white-button-small">Sign in</button>
            </div>

            <div style="font-size: 11px; margin-top: -5px; text-align: center;">
                Don't have an account yet? <a th:href="@{/user/signup}" style="font-size: 12px; text-decoration: none; color: black; font-weight: bold; padding: 0;">Click here!</a>
            </div>
        </form>
        <div sec:authorize="isAuthenticated()">
            <div class="flex-vertical" style="margin: 0px;">
                <div style="font-size: 15px;">
                    Logged as: <span style="color: #F08000; font-weight: bold;" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </div>

                <div style="width: 100%; height: 1px; background-color: #e3e3e3; margin-bottom: 10px;"></div>

                <form th:class="${activeTab == '/user/profile'}? 'hidden' : null" th:action="@{/user/profile}" style="margin-top: 10px;">
                    <a sec:authorize="isAuthenticated()" class="blacked-white-button-small" th:href="@{/user/profile}">Go to profile</a>
                </form>
                <form th:action="@{/user/logout}" style="margin-top: 10px;">
                    <a sec:authorize="isAuthenticated()" class="blacked-white-button-small" th:href="@{/user/logout}">Logout</a>
                </form>

                <div style="width: 100%; height: 1px; background-color: #e3e3e3; margin-top: 20px;"></div>

            </div>
        </div>
    </div>
</div>
